


<div class="p-3 m-0 border-0 bd-example row m-0 border-0 playlist_tool_bar">
  <input class="btn fbtn   controlbox " type="reset" value="Reset">
  <button class="btn fbtn btn-dark controlbox " onclick="imedia.loadPlaylist()">
    <i class="fa-solid fa-share mdi-delete"></i>
    <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>
 <span>Load</span>

  </button> 

  <button class="btn fbtn fbtn btn-dark controlbox  " onclick="imedia.empty_playlist()">
    <i class="fa fa-trash mdi-delete" aria-hidden="true"></i>
  
    <i class="fa-solid fa-ghost  mdi-delete-empty"></i>
 <span> Trash</span>
    

  </button> 
 
  <button class="btn fbtn  btn-dark controlbox  " type="submit">Button</button>
  <input class="btn fbtn   controlbox " type="button" value="Input">
  <input class="btn fbtn  controlbox " type="submit" value="Submit">
  <input class="btn fbtn  controlbox " type="reset" value="Reset">
  </div>


  <div class="btn-group  playlist_tool_bar" role="group" aria-label="..." hidden>     
   
    <button class="btn-tx  btn btn-dark controlbox  result_tool_3" onclick="imedia.empty_playlist()">
      <i class="fa fa-trash mdi-delete" aria-hidden="true"></i>
    
      <i class="fa-solid fa-ghost  mdi-delete-empty"></i>
   <span> Trash</span>
      
  
    </button> 


    <button class="btn btn-dark controlbox    result_tool_4" onclick="imedia.savePlaylist()">

        <i class="fa-solid  fa-layer-group  mdi-delete-empty"></i>
        <i class="fa-brands  fa-layer-group  mdi-delete"></i>
     <span>Save Playlist</span>
      
      </button> 

      <button class="btn btn-dark controlbox  result_tool_2"  onclick="imedia.savePlaylist()">
          <i class="fa-solid fa-layer-group mdi-delete "></i>
        <i class="fa-solid fa-layer-group  mdi-delete-empty"></i>
           <span>Export Playlist</span>
   
      </button> 

      <button class="btn btn-dark controlbox  result_tool_3"  onclick="imedia.makeSchedule(this,event)">

        <i class="fa-solid fa-truck-fast mdi-delete"></i>
        <i class="fa-solid fa-truck-fast mdi-delete-empty"></i>
  
     <span>Publish to Schedule</span>
   
      </button> 
      <button class="btn btn-dark controlbox result_tool_1" onclick="imedia.loadPlaylist()">
        <i class="fa-solid fa-share mdi-delete"></i>
        <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>
     <span>Load</span>
   
      </button> 



    <button class="btn btn-dark controlbox  result_tool_8">

      <i class="fa-solid fa-share mdi-delete"></i>
      <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>

   <span>Prev</span>
 
    </button> 
  
    <button class="btn btn-dark controlbox  result_tool_9" onclick="imedia.playCH('onetv')">

      <i class="fa-solid fa-share mdi-delete"></i>
      <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>
   <span>Play</span>
 
    </button> 

    <button class="btn btn-dark controlbox   result_tool_2" onclick="imedia.empty_playlist()">

      <i class="fa-solid fa-share mdi-delete"></i>
      <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>

   <span>Next</span>
 
    </button> 

  



</div>