<form >
    <div class="toolbar_background  input-group btn btn-group mb-4 libry_view_screen_footer" >
       <div class="toolbar-group" >

       <button class="toolbar " onclick="imedia.callFunction('welcome')" type="button"><i class=" fas fa-house-chimney-user iconBut"></i>Home</button>
         
            <button class="toolbar" onclick="imedia.callFunction('playlist')"  type="button"><i class="fa-solid fa-layer-group  iconBut"></i>Playlist</button>             
            <button class="toolbar" onclick="imedia.callFunction('programs')" type="button"><i class="fa-solid fa-layer-group  iconBut"></i>Programs</button>
            <button class="toolbar" onclick="imedia.callFunction('epg')"  type="button"><i class="fa-solid fa-layer-group  iconBut"></i>EPG</button>
            <button class="toolbar" onclick="imedia.callFunction('libry')" type="button"><i class="fa-solid fa-truck-fast" ></i>Libry</button>
            <button class="toolbar"onclick="imedia.callFunction('schedule')"  type="button"><i class="fa-solid fa-truck-fast"></i>Schedule</button>
        </div>
        <div class="dropdown dropdown-dark">
            
            <select  id="admincp" class="dropdown-select" onchange='imedia.selectSwitch(this)' onclick='imedia.selectClick(this)'>
<option value="serv"><%=typeof name !== 'undefined'? name:''%>@<%=typeof ourchannel !== 'undefined'?ourchannel:''%></option>
                <% 
                  
                  if (typeof myadmin !=='undefined'){
                  myadmin.forEach(adminx => { %>
              <option value="switch"> <%=adminx%></option>
            
                  <% })} %>
                </select>

               
<i class="fa-regular fa-floppy-disk"></i>
              </div>
       <div hidden>
        <button class="toolbar btn btn btn-dark infox iconBut" onclick="imedia.savePlaylist()" type="button"><i class="fa-solid fa-layer-group  iconBut"></i>Playlist</button>              
            <button class="toolbar btn btn btn-dark infox iconBut" onclick="imedia.savePlaylist()" type="button"><i class="fa-solid fa-layer-group  iconBut"></i>Playlist</button>
            <button class="toolbar btn btn btn-primary infox iconBut" onclick="imedia.makeLibry(this,event)" type="button"><i class="fa-solid fa-truck-fast" ></i>Libry</button>
            <button class="btn btn btn-danger infox iconBut" onclick="imedia.makeSchedule(this,event)" type="button"><i class="fa-solid fa-truck-fast"></i>Schedule</button>
      </div>

     
        </div>
      
    </form>


   

    <script>
   //onchange='imedia.selectSwitch(this)' onclick='imedia.selectClick(this)';
   </script>