<div class="mwcontainer">
    <div class="iconic col-md-4"  >
       <a class="iconic btn btn-block btn-lg btn-success"  href="https://imediaport.com:4646/serv/cregister?q=addnew" data-toggle="modal" >
           <i class="fa fa-users" id="icone_grande"></i> <br><br>
           <span class="texto_grande"><i class="fa fa-plus-circle"></i> ADD </span></a>
     </div>
     <div class="iconic col-md-4">
       <a  onclick="imedia.callFunction('channel')"class="iconic  btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
           <i class="fa fa-user" id="icone_grande"></i> <br><br>
           <span class="texto_grande"><i class="fa fa-times-circle-o"></i>Channel </span></a>
     </div>
     <div class="iconic col-md-4">
      <a onclick="imedia.callFunction('cupdate')" class="iconic  btn btn-block btn-lg btn-success" data-toggle="modal" data-target="#mymodal">
          <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
          <span class="texto_grande"><i class="fa fa-edit"></i> Channel Update </span></a>
    </div>
     <div class="iconic col-md-4">
       <a  onclick="imedia.callFunction('libry')" class="iconic  btn btn-block btn-lg btn-primary" data-toggle="modal" data-target="#mymodal">
           <i class="fa fa-cog fa-spin" id="icone_grande"></i> <br><br>
           <span class="texto_grande"><i class="fa fa-edit"></i> Library</span></a>
     </div>
     <div class="iconic col-md-4">
       <a onclick="imedia.callFunction('programs')" class="iconic btn btn-block btn-lg btn-warning" data-toggle="modal" data-target="#mymodal">
        <i class="far fa-address-card" id="icone_grande"></i> <br><br>
           <span class="texto_grande"><i class="fa fa-list-ul"></i> Programs</span></a>
     </div> 
     <div class="iconic col-md-4">
        <a  onclick="imedia.callFunction('playlist')" class="iconic  btn btn-block btn-lg btn-dark" data-toggle="modal" data-target="#mymodal">
            <i class="fas fa-clipboard-list" id="icone_grande"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-edit"></i> Playlist</span></a>
      </div>
      <div class="iconic col-md-4">
        <a onclick="imedia.callFunction('schedule')" class="iconic btn btn-block btn-lg btn-danger" data-toggle="modal" data-target="#mymodal">
            <i id="icone_grande" class="far fa-calendar-days"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-list-ul"></i> Schedule</span></a>
      </div> 


      



      <div class="iconic col-md-4">
        <a class="iconic btn btn-block btn-lg btn-info" data-toggle="modal" data-target="#mymodal">
            <i id="icone_grande" class="far fa-calendar-days"></i> <br><br>
            <span class="texto_grande"><i class="fa fa-list-ul"></i> EPG</span></a>
      </div> 
    
       <div class="iconic col-md-4">
         <a onclick="imedia.callFunction('calendar')" class="iconic btn btn-block btn-lg btn-info" data-toggle="modal" data-target="#mymodal">
            <i class="fas fa-table-list" id="icone_grande"></i> <br><br>
             <span class="texto_grande"><i class="fa fa-list-ul"></i> Calendar</span></a>
       </div> 
</div>