

<style>


</style>

  <div class="btn-group result_tool_bar" role="group" aria-label="...">   
    
    <button class="btn-tx  btn btn-dark controlbox  result_tool_1" onclick="imedia.empty_playlist()">
      <i class="fa fa-trash mdi-delete" aria-hidden="true"></i>
    
      <i class="fa-solid fa-ghost  mdi-delete-empty"></i>
   <span> Trash</span>
      
  
    </button> 
    <button class="btn btn-dark controlbox    result_tool_2"  onclick="imedia.loadPlaylist()">

        <i class="fa-solid fa-layer-group mdi-delete-empty"></i>
        <i class="fa-brands fa-stack-overflow mdi-delete"></i>
     <span>Load</span>
      
      </button> 

      <button class="btn btn-dark controlbox   result_tool_3" onclick="imedia.sendlistMarked()">

        <i class="fa-solid fa-share mdi-delete"></i>
        <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>
  
     <span>Send*</span>
      </button> 

      <button class="btn btn-dark controlbox  result_tool_4"  onclick="imedia.savePlaylist()">

       <i class="fa-solid fa-floppy-disk mdi-delete"></i>
     <i class="fa-sharp fa-solid fa-floppy-disk-circle-arrow-right mdi-delete-empty"></i>
     <span>Save</span>
   
      </button> 

    
   
     

      <button class="btn btn-dark controlbox   result_tool_5"  onclick="imedia.makeSchedule(this,event)">

        <i class="fa-solid fa-share mdi-delete"></i>
        <i class="fa-solid fa-share-from-square mdi-delete-empty"></i>
        
  
     <span>Publish!</span>
   
      </button> 






 

</div>
