 <!-- ======= Pricing Section ======= -->
 <section id="pricing" class="pricing">
	<div class="container" data-aos="fade-up">

	  <div class="section-title">
		<h2>Pricing</h2>
		<p>Join now for Massive Discount </p>
	  </div>

	  <div class="row">

		<div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
		  <div class="box">
			<h3>Online TV Plan</h3>
			<h4><sup>$</sup>200<span>per month</span></h4>
			<ul>
			  <li><i class="bx bx-check"></i>Playout link from  Youtube and Mp4</li>
			  <li><i class="bx bx-check"></i>Inetractive playout</li>
			  <li><i class="bx bx-check"></i>Portable to websites and Embeding</li>
			  <li><i class="bx bx-check"></i>Logo and channel branding</li>
			  <li class="na"><i class="bx bx-x"></i> <span>rtmp and hls video streaming</span></li>
			  <li class="na"><i class="bx bx-x"></i> <span>live video feed</span></li>
			</ul>
			<a href="https://imediaport.com:4646/serv" class="buy-btn">Get Started</a>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="200">
		  <div class="box featured">
			<h3>Cable TV Plan</h3>
			<h4><sup>$</sup>500<span>per month</span></h4>
			<ul>
			  <li><i class="bx bx-check"></i>Playout link from  Youtube and Mp4</li>
			  <li><i class="bx bx-check"></i>Inetractive playout</li>
			  <li><i class="bx bx-check"></i>Portable to websites and Embeding</li>
			  <li><i class="bx bx-check"></i>Logo and channel branding</li>
			  <li><i class="bx bx-check"></i> <span>rtmp and hls video streaming</span></li>
			  <li><i class="bx bx-check"></i> <span>live video feed</span></li>
			</ul>
			<a href="https://imediaport.com:4646/serv" class="buy-btn">Get Started</a>
		  </div>
		</div>

		<div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
		  <div class="box">
			<h3>TV Network Plan</h3>
			<h4><sup>$</sup>2000<span>per month</span></h4>
			<ul>
			  <li><i class="bx bx-check"></i>Playout link from  Youtube and Mp4</li>
			  <li><i class="bx bx-check"></i>Inetractive playout</li>
			  <li><i class="bx bx-check"></i>Portable to websites and Embeding</li>
			  <li><i class="bx bx-check"></i>Logo and channel branding</li>
			  <li><i class="bx bx-check"></i> <span>rtmp and hls video streaming</span></li>
			  <li><i class="bx bx-check"></i> <span>live video feed</span></li>
			  <li><i class="bx bx-check"></i>Dedicated Server backup</li>
			  <li><i class="bx bx-check"></i> <span>3 Sites </span></li>
			  <li><i class="bx bx-check"></i> <span>Mutiple Administrators</span></li>

			</ul>
			<a href="https://imediaport.com:4646/serv" class="buy-btn">Get Started</a>
		  </div>
		</div>

	  </div>

	</div>
  </section><!-- End Pricing Section -->