<div id="iframe_cup" class="frame_cup" onmouseover="imedia.onthePop(this)" >
    <div class="popmenu"> <a class="finger"  onclick="imedia.popOut(this)"> <i class="fa-solid fa-square-xmark"></i></a> </div>
    <iframe  id="pframe" class="popframe"  src="" dsrc="https://www.youtube.com/embed/qN3OueBm9F4?autoplay=1" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <div class="popcpanel"> <a class="finger"  onclick="imedia.popOut(this)"> function controls</a> </div> 
</div>

<div id="phold" class="pophold"  onmouseover="imedia.popOver(this)" oonmouseenter="imedia.popOut(this)" onclick="imedia.popOut(this)">
   

    </div>

