
<% 
include ../cloud/cpanel/main

%>
	<% include ../partials/head %>
	<% include ../partials/top-header %>
<div class="main_menu">
	
<!-- {{>top-header}} -->
</div>
	<!-- header-bottom-->
	<div class="main_cage">
<% 

include ../cloud/cpanel/main

%>
</div>

</body>
</html>