	<!-- copyright -->
	<div class="copy-right py-3">
		<div class="container">

			<p class="text-center text-white">© 2023 1Market.com.ng  All rights reserved | Design by
				<a href="http://mstudios.me"> mStudios.</a> | Admin Login >
				<a href="/admin/login"> Admin Login </a>
			</p>
		</div>
	</div>
	<!-- //copyright -->